{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}! Welcome to PRA2
Docker!</h1>
    {% if email %}
        {% if 'utoronto' in email.lower() %}
            <h1>Your email: {{ email }}</h1>
        {% else %}
            <h1>Please enter your UofT email.</h1>
        {% endif %}
    {% endif %}
</div>
{{ wtf.quick_form(form) }}


{% endblock %}
